<form>
    <Button>Nuevo Registro</Button>
</form>

<div class="container-fluid px-0">
    <div class="p-3" style="width: 60%;">
        <table class="table table-hover">
            <caption style="caption-side: top;"> <!--This is not Good-->
                Información de los Clientes
            </caption>
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Cliente</th>
                    <th scope="col">Nombres/Apellidos</th>
                    <th scope="col">Télefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Municipio</th>
                    <th scope="col">Código Postal</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">Cliente row</th>
                    <td scope="row">Nombres/Apellidos</td>
                    <td>Télefono</td>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th>Municipio</th>
                    <th>Código Postal</th>
                    <th>Acciones</th>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>

<div>

    <Button>Expandir Mapa</Button>
</div>
